body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}
.weather-app {
  background: white;
  display: block;
  margin: 0 auto;
}
.search-form {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-button {
  background: #885df1;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}
